$theme-colors: (
  "primary": rgb(249, 85, 144),
  "info": rgb(109, 222, 249),
  "dark": #09121c,
);

$font-family-base: "Red Hat Display", avenir, -apple-system, sans-serif;
html {
  scroll-behavior: smooth;
}

.glow-pink {
  box-shadow: 2px 2px 20px rgb(249, 85, 144);
}
.glow-blue {
  box-shadow: 2px 2px 20px rgb(109, 222, 249);
}

// Invisible content behind header, force main content to start at header offset
#root {
    &:before {
        height: 56px;
        content: "";
        display:block;
    }
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
// Import Bootstrap and its default variables
