$primary: rgb(249, 85, 144);
$info: rgb(109, 222, 249);
$dark: #09121c;
// Complimentary color to dark
$dark-accent: #1c385a;  

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
        width:  $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}


$font-family-base: "Red Hat Display", avenir, -apple-system, sans-serif;
html {
  scroll-behavior: smooth;
}

.glow-pink {
  box-shadow: 2px 2px 20px $primary;
}
.glow-blue {
  box-shadow: 2px 2px 20px $info;
}

// Invisible content behind header, force main content to start at header offset
#root {
    &:before {
        height: 56px;
        content: "";
        display:block;
    }
}

// Bootstrap Table customization
table {
    color: white !important;
}

// Import Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap/scss/variables";

body {
    @include scrollbars(10px,  $dark-accent, $dark);
}

.yldy-scrollbar {
    @include scrollbars(.5em, $dark-accent, $dark);
}