.all-text-white {
    color: white;
}

.all-text-white .h1 {
    color:white;
}

/* Primary background color, light dark*/
.primary-background {
    background: #303030;
}
/* Secondary: deep dark */
.secondary-background {
    background: #252525;
}
/* Accent background */
.tertiary-background {
    background: #240a0a;
}

.yieldly-main-color {
    color: #FED738;
}