.calc-header {
    background: #252525;
    color: white!important;
}

/* Brand name in navbar */
.navbar-brand-name {
    color: white!important;
}
.navbar-brand-name:hover {
    color: rgb(200, 200, 200)!important;
}