/*
    Shared CSS, application wide classes
*/

/* Shared CSS variables */
:root {
    --primary-bg-color: #303030;
    --secondary-bg-color: #252525;
    --tertiary-bg-color: #202020;
    --quaternary-bg-color: #404040;
    --YLDY-color: #FED738;
    --text-color: white;
    --text-muted-color: #AAAAAA;
}

/* Dark Form.Control Text style */
.dark-form-control-text {
    background: var(--quaternary-bg-color) !important;
    border-color: var(--quaternary-bg-color)!important;
    color: var(--text-color) !important;
}
/* Disabled or readonly styling */
.dark-form-control-text:disabled, .dark-form-control-text[readonly] {
    background: var(--tertiary-bg-color) !important;
}
/* Placeholder text */
.dark-form-control-text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-muted-color) !important;
}

.all-text-white {
    color: white;
}

.all-text-white .h1 {
    color:white;
}

/* Primary background color, light dark*/
.primary-background {
    background: var(--primary-bg-color);
}
/* Secondary: deep dark */
.secondary-background {
    background: var(--secondary-bg-color);
}
/* Accent background */
.tertiary-background {
    background: var(--tertiary-bg-color);
}

.yieldly-main-color {
    color:  var(--YLDY-color);
}